<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated mETACON -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="mETACON.presentation.METACONModelWizardID"
            name="%_UI_METACONModelWizard_label"
            class="mETACON.presentation.METACONModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/METACONModelFile.gif">
         <description>%_UI_METACONModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated mETACON -->
      <editor
            id="mETACON.presentation.METACONEditorID"
            name="%_UI_METACONEditor_label"
            icon="icons/full/obj16/METACONModelFile.gif"
            extensions="metacon"
            class="mETACON.presentation.METACONEditor"
            contributorClass="mETACON.presentation.METACONActionBarContributor">
      </editor>
   </extension>

</plugin>
